@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;700;900&display=swap');


body {
  background-color: #F6F9FC;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100px;
  border-radius: 50%;
}

h1 {
  color: #575F7D;
  font-weight: 900;
  font-size: 32px;
}

p {
  color: #575F7D;
  font-family: Lora;
  font-size: 16px;
  margin: 20px 20px 20px 20px;
}

h2 {
  color: #38393d;
  font-size: 20px;
}

.btn {
  color: white;
  background: lightseagreen;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 7px;
  border-radius: 4px;
}

.btn:hover {
  background: black;
}

h3 {
  color: #8cbade;
  font-weight: 600;
  font-size: 16px;
}

a {
  color: #8cbade;
  font-size: 35px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 15px auto;
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}
